<section class="">
    <div>
        <p-table #dt styleClass="p-datatable-gridlines p-datatable-striped"
            [value]="tableData.data" [columns]="tableData.cols"
            [loading]="loading">
            <ng-template pTemplate="caption">
                SheetJS.Component Testing
                <div>
                    <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width:2rem;">#</th>
                    <ng-container *ngIf="!col?.hiddenTableView">
                        <th *ngFor="let col of columns">{{col.header}}</th>
                    </ng-container>
                </tr>
            </ng-template>
            
            <ng-template pTemplate="body" let-user let-columns="columns" let-rowIndex="ri">
                <tr>
                    <td>{{ri}}</td>
                    <td *ngFor="let col of columns">
                        <ng-container [ngSwitch]="col['type']">
                            <span *ngSwitchCase="'date'">{{user[col.field] | date}}</span>
                            <span *ngSwitchCase="'percent'">{{user[col.field] | percent}}</span>
                            <span *ngSwitchCase="'pre'" style="white-space: pre-wrap;">{{user[col.field]}}</span>
                            <span *ngSwitchDefault>{{user[col.field]}}</span>
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
            
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">No Data Found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</section>
